<div class="row">
  <div class="col">
    <%= render partial: 'shared/tweet_card', locals: {tweet: @tweet} %>
  </div>

  <div class="col">
    <% if @tweet.reply %>
      <div class="card" style="margin-top: 15px;">
        <h3 class="card-title">Your Reply</h3>
        <p class="card-text"><%= simple_format(@tweet.reply.text) %></p>
      </div>
    <% end %>

    <% if @tweet.reply %>
      <% percent_replied_to = (@tweet.retweets.replied_to.count / @tweet.retweets.count.to_f) * 100 %>

      <h3>Has been sent to <%= @tweet.retweets.replied_to.count %> of <%= @tweet.retweets.count %> retweets </h3>
      <div class="progress" style="height: 30px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent_replied_to %>%;">
          <%= @tweet.retweets.replied_to.count if @tweet.retweets.replied_to.count > 0 %>
        </div>
      </div>
    <% else %>
      <h3>You haven't replied to this tweet.</h3>
      <%= link_to "Create a Reply", new_tweet_reply_path(@tweet) %>
    <% end %>
  </div>

</div>
