<div class="row">
  <div class="col">
    <%= render partial: 'shared/tweet_card', locals: {tweet: @tweet} %>
    <% if @tweet.reply %>
      <div class="card" style="margin-top: 15px;">
        <h3 class="card-title">Your Reply</h3>
        <p class="card-text"><%= simple_format(@tweet.reply.text) %></p>
      </div>
    <% end %>
  </div>

  <div class="col">
    <% percent_replied_to = @tweet.retweets.replied_to.count / @tweet.retweets.count %>
    <h3>Retweet Tracking</h3>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percent_replied_to %>%;">
        <%= @tweet.retweets.replied_to.count %>
      </div>

      <div class="progress-bar bg-warning" role="progressbar" style="width:<%= 100 - percent_replied_to  %>%;">
        <%= @tweet.retweets.not_replied_to.count %>
      </div>
    </div>
  </div>
</div>
